node_modules/
dist/
out/
vendor/vcredist/*.exe

.env
.env.*

*.log
*.dump
*.dump.json

postgres.enc
conexion.enc
pgpass.conf
conexion-test.json

**/postgres/data/
**/backups/

**/*private*.pem
**/*.key
